header {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #fff;
  margin-left: 20px;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
