// Import partial SCSS files
@import "header";
@import "footer";
@import "products";
@import "responsiveness";

// Define any additional styles here
body {
  font-family: "Arial", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

